* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: pink;
}

button {
  font: inherit;
  cursor: pointer;
  /* background-color: #03045e; */
  /* border: 1px solid #03045e; */
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #0077b6;
  border-color: #0077b6;
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
